<div class="contenedor">
  <!-- Perfil de usuario -->
  <div class="user-profile">
    <div class="photo-upload">
      <p class="text-center">{{usuario?.name}}</p>
      <div class="photo-card">
        <img *ngIf="photoPreview" [src]="photoPreview" alt="Foto de perfil" class="profile-photo" />
        <p *ngIf="!photoPreview">Sin Foto</p>
      </div>

      <div class="change-photo-button mt-3" *ngIf="photoPreview">
        <button mat-button color="primary" (click)="selectFile()">Cambiar Foto</button>
      </div>

      <div *ngIf="!photoPreview || isFileSelected">
        <form (ngSubmit)="uploadPhoto()" #photoForm="ngForm">
          <input type="file" (change)="onFileSelected($event)" name="photo" required />
          <button mat-button color="primary" type="submit" [disabled]="!selectedFile || !photoForm.form.valid">
            Subir Foto
          </button>
        </form>
      </div>

      <div class="buttons">
        <button mat-button color="primary" (click)="modificarDatos()">
          Modificar Datos
        </button>
        <button mat-button color="warn" (click)="deleteUser()">
          Baja cuenta
        </button>
      </div>
    </div>
  </div>

  <!-- Anuncios -->
  <div class="ads-section">
    <h4 class="text-center">Tus Anuncios</h4>

    <div class="nav-bar button mb-3">
      <button mat-flat-button color="primary" class="buttons" (click)="userCreateAd()">
        Agregar Anuncio
      </button>
    </div>

    <div class="flex-container">
      <app-user-Card *ngFor="let ad of ads" [ad]="ad" [onDeleteAd]="deleteAd" [onModifyAd]="modificarAnuncio" class="card-user">
      </app-user-Card>
    </div>
  </div>
</div>
