<div class="container">

  <div class="user-profile">
    <div class="user-info">
      <h4 class="text-center">Datos del Usuario</h4>
      <p><strong>Nombre:</strong> {{ usuario?.name }}</p>
      <p><strong>Apellido1:</strong> {{ usuario?.last_name1 }}</p>
      <p><strong>Apellido2:</strong> {{ usuario?.last_name2 }}</p>
      <p><strong>Email:</strong> {{ usuario?.email }}</p>
      <p><strong>Ciudad:</strong> {{ usuario?.city }}</p>
      <p><strong>Calle:</strong> {{ usuario?.street }}</p>
      <p><strong>Teléfono:</strong> {{ usuario?.phone }}</p>
      <p><strong>Nombre Usuario:</strong> {{ usuario?.username }}</p>

      <div class="buttons">
        <button mat-stroked-button color="accent" (click)="modificarDatos()">
          Modificar Datos
        </button>
        <button mat-stroked-button color="warn" (click)="deleteUser()">
          Baja cuenta
        </button>
      </div>
    </div>

    <div class="photo-upload">
      <h4 class="text-center">Foto de Perfil</h4>
      <div class="photo-card">
        <!-- Si existe una foto, se muestra; si no, se muestra el mensaje "Sin Foto" -->
        <img *ngIf="photoPreview" [src]="photoPreview" alt="Foto de perfil" class="profile-photo" />
        <p *ngIf="!photoPreview">Sin Foto</p>
      </div>

      <!-- Mostrar el botón "Cambiar Foto" solo si hay una foto de perfil -->
      <div class="change-photo-button mt-3" *ngIf="photoPreview">
        <button mat-raised-button color="primary" (click)="selectFile()">Cambiar Foto</button>
      </div>

      <!-- Formulario para subir una nueva foto, visible si no hay foto o si se seleccionó un archivo -->
      <div *ngIf="!photoPreview || isFileSelected">
        <form (ngSubmit)="uploadPhoto()" #photoForm="ngForm">
          <input type="file" (change)="onFileSelected($event)" name="photo" required />
          <button mat-raised-button color="primary" type="submit" [disabled]="!selectedFile || !photoForm.form.valid">
            Subir Foto
          </button>
        </form>
      </div>
    </div>

  </div>

  <div class="ads-section m-3 ">
    <h4 class="text-center">Mis Pedidos</h4>
    <div class="nav-bar button mb-3">
      <button mat-button color="primary" class="buttons" (click)="userCreateAd()">Agregar Anuncio</button>


        <!-- POSIBLES BOTONES PARA FILTRAR POR ANNCIOS DE VENTA O COMPRA -->
      <!-- <button mat-button color="primary" class="buttons">Compra</button>
      <button mat-button color="primary" class="buttons">Venta</button> -->
    </div>

    <mat-card *ngFor="let ad of ads" class="ad-card mt-2">

      <mat-card-content>Id: {{ad.idAd}} - Nombre:{{ ad.title }} - Precio:{{ ad.price }} </mat-card-content>

      <div class="buttons">
        <button mat-stroked-button color="primary" (click)="modificarAnuncio(ad.idAd)">
          Modificar
        </button>
        <button mat-fab color="warn" (click)="deleteAd(ad.idAd)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

</div>
