/* Contenedor principal usando grid para definir el 25% y 75% */
.contenedor {
  display: grid;
  grid-template-columns: 15% 85%; /* 25% para el perfil y 75% para los anuncios */
  width: 100%; /* Ocupa el 90% del ancho de la página */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para el perfil de usuario */
.user-profile {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  padding: 20px;
}

/* Estilos para la sección de anuncios */
 .ads-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* Flexbox para las tarjetas de anuncios */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 100%;
}

/* Estilos de cada sección */
/* .user-info, .ads-section, .photo-upload {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
} */

/* Estilos de los botones */
.buttons {
  display: flex;
  flex-direction: column; /* Coloca los botones uno debajo del otro */
  gap: 10px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones dentro del contenedor */
  align-items: center; /* Alinea los botones al centro */
  margin: 10px 0; /* Espaciado general */
}

/* Ajuste de tamaño de los botones */
button {
  font-size: 14px; /* Tamaño de la fuente */
  padding: 8px 16px; /* Ajusta el relleno interno */
}


/* Estilo específico para la sección de la foto de perfil */
.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor de la imagen */
.photo-card {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Estilos para la imagen de perfil */
.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Controles para la carga de la foto */
.upload-controls {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.upload-controls input {
  margin-bottom: 10px;
}
