<ng-template #divLoading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div *ngIf="anun; else divLoading" class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ anun.tipo_anuncio }}</mat-card-title>
      <mat-card-subtitle>{{ anun.tipo_animal }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ anun.nombre }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ anun.tipo_animal }}</mat-list-item>
        <mat-list-item>{{ anun.descripcion }}</mat-list-item>
        <mat-list-item>{{ anun.precio | currency:'EUR':'symbol' }}</mat-list-item>
      </mat-list>

      <!-- Botones -->
      <div class="button-container">
        <button mat-stroked-button color="warn" (click)="regresar()">Regresar</button>
        <button mat-flat-button color="primary" (click)="comprar()">Comprar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
