/* Contenedor principal con Flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre las tarjetas */
  margin: 0 auto; /* Centra el contenedor */
  padding-top: 10px; /* Espacio superior */
  max-width: 80%; /* Contenedor al 80% del ancho de la pantalla */
}

/* Estilos para las tarjetas (productos) */
.producto-card {
  flex: 1 1 100%; /* En pantallas pequeñas, cada tarjeta ocupa el 100% de la fila */
  max-width: 300px; /* Limita el ancho máximo de las tarjetas */
}

.vende a {
  text-decoration: none; /* Quita la línea de los enlaces */
  color: inherit; /* Mantiene el color del texto del párrafo */
  cursor: pointer;
}

/* Pantalla de tablet */
@media (min-width: 576px) {
  .producto-card {
    flex: 1 1 45%; /* En tabletas, cada tarjeta ocupa el 45% del ancho */
  }
}

/* Pantalla de escritorio (PC) */
@media (min-width: 992px) {
  .producto-card {
    flex: 1 1 18%; /* En pantallas de escritorio, cada tarjeta ocupa el 18% */
  }
}

/* Responsividad de las tarjetas en pantallas grandes */
@media (min-width: 1200px) {
  .producto-card {
    flex: 1 1 20%; /* Ajustar a 5 tarjetas en una fila */
  }
}

/* Paginador */

mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;

}




/* Estilos generales del contenedor del banner */
.banner-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Imagen del banner */
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
}

/* Overlay */
.overlay-text {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo adicional para la tarjeta dentro del overlay */
.vende {
  background-color: #f1f2f7d3;
  padding: 20px;
  border-radius: 10px;

}

.btn {
  width: 80%;
  display: block;
  margin: 10px auto;
}

.boton {
  width: 70%;
  display: block;
  margin: 10px auto;
}

/* Responsividad del overlay-text */
@media (min-width: 768px) and (max-width: 1024px) {
  .overlay-text {
    width: 30%;
    height: auto;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 727px) and (max-width: 768px) {
  .overlay-text {
    width: 30%; /* El overlay ocupará el 40% del ancho de la pantalla */
    height: auto; /* Ajusta la altura según el contenido */
    margin-left: 20px;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%);
  }
}

/* Media query para ocultar el banner en pantallas pequeñas */
@media (max-width: 740px) {
  .banner-container {
    display: none; /* Oculta el contenedor del banner */
  }
}

/* Personaliza el botón de ordenar */
.ordenar-boton {
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  padding: 10px 20px; /* Añade espaciado */
  margin-right: 20px; /* Alinea hacia la derecha */
}

/* Personaliza el menú desplegable */
.custom-menu {
  min-width: 200px; /* Aumenta el ancho mínimo del menú */
  font-size: 18px; /* Aumenta el tamaño del texto dentro del menú */
}

.custom-menu button {
  padding: 15px 20px; /* Aumenta el tamaño de los botones dentro del menú */
}

/* Alinea el botón del menú hacia la derecha */
div[style*="text-align: right;"] {
  display: flex;
  justify-content: flex-end;
}

/* Nueva clase para las imágenes dentro de las tarjetas */
.producto-card .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 500px; /* Ajustar según sea necesario */
  overflow: hidden;
}

.producto-card .image-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: 100%; /* Asegura que la imagen ocupe toda la altura disponible */
  object-fit: contain; /* Ajusta la imagen sin distorsionarla */
  border-radius: 8px; /* Bordes redondeados opcionales */
}
