
<!-- Contenedor principal con overlay -->
<div class="banner-container">
  <!-- Imagen de fondo -->
  <img src="banner6.jpg" alt="banner" class="banner">

  <!-- Overlay con texto -->
  <div class="overlay-text ">
   <mat-card class="vende">
    <p class="m-3">¿No lo necesitas? ¡Otro peludo seguro que sí!</p>
    <button mat-raised-button class="btn mb-3" (click)="vender()">Vende</button>
    <a href="infoventa">¿Cómo funciona?</a>
   </mat-card>
  </div>
</div>

<div class="container m-3">
<mat-menu #ordenMenu="matMenu" class="custom-menu ">
  <div style="display: flex; flex-direction: column; width: 100%;">
    <button mat-button (click)="ordenarAnuncios('fecha')">Fecha</button>
    <button mat-button (click)="ordenarAnuncios('precio')">Precio</button>
    <button mat-button (click)="ordenarAnuncios('nombre')">A-Z</button>
  </div>
</mat-menu>

<div style="text-align: right;">
  <button mat-raised-button [matMenuTriggerFor]="ordenMenu" class="ordenar-boton">
    Ordenar por <mat-icon>arrow_drop_down</mat-icon>
  </button>
</div>
</div>

<!-- Contenedor flexbox para los productos -->
<div class="flex-container">
  <div *ngFor="let producto of paginatedProd" class="producto-card">
    <app-card [ad]="producto"></app-card>
  </div>
</div>

<mat-paginator [length]="totalLength"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>
