.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.forgot-password-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}
.forgot-password-link:hover {
  text-decoration: none;
}
.full-width {
  width: 80%; /* Esto hace que el campo ocupe todo el ancho disponible */
  max-width: 500px; /* Puedes ajustar este valor a tu gusto */
}

mat-form-field {
  width: 50%; /* Asegura que el campo se ajuste al contenedor */
}

input {
   /* Aumenta el relleno interno del input */
  font-size: 16px; /* Aumenta el tamaño de la fuente para que el campo se vea más grande */
}
.form-actions button {
  margin-right: 50px; /* Espacio de 10px entre los botones */
  margin-bottom: 20px;
}
.container{
  width: 60%;
}
