/* Estilo base */
.forgot-password {
  margin-top: 10px;
  text-align: right;
  /* border: 1px solid; */
}

/* .form-card {
  border: 1px solid;
} */

.forgot-password-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}
.forgot-password-link:hover {
  text-decoration: none;
}

.full-width {
  width: 80%; /* Campo amplio por defecto */
  max-width: 500px;
}

mat-form-field {
  width: 50%; /* Ajuste base */
}

input {
  font-size: 16px;
}

.form-actions button {
  margin-right: 50px;
  margin-bottom: 20px;
}

.container {
  width: 60%;
}

/* Media Queries para Responsividad */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .full-width {
    width: 100%; /* Ocupa todo el ancho */
    max-width: none; /* Quita la restricción de ancho máximo */
  }

  mat-form-field {
    width: 100%; /* Asegura que los campos ocupen todo el contenedor */
  }

  .forgot-password {
    text-align: center; /* Cambia la alineación del texto */
    margin-top: 15px;
  }

  .container {
    width: 90%; /* Contenedor más ancho en pantallas pequeñas */
  }

  .form-actions button {
    margin-right: 10px; /* Menos espacio entre botones */
    margin-bottom: 10px;
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .full-width {
    width: 70%; /* Ajuste intermedio */
  }

  mat-form-field {
    width: 70%;
  }

  .container {
    width: 75%; /* Contenedor ajustado para tablets */
  }
}

/* Para pantallas grandes (escritorios anchos) */
@media (min-width: 1025px) {
  .container {
    width: 50%; /* Contenedor más pequeño en pantallas grandes */
  }

  .form-actions button {
    margin-right: 20px; /* Ajusta el margen para adaptarse */
  }
}
