.payment-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.full-width {
  width: 80%;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajusta este valor para aumentar o reducir el espacio */
  margin-top: 20px;
}
