<mat-toolbar color="primary" class="top-bar">
  <img src="assets/changochico.png" alt="logo" class="logo" routerLink="/" />
  <img src="assets/changochico.png" alt="Logo pequeño" class="logo-small" routerLink="/">

  <span class="spacer"></span>

  <form class="d-flex" (submit)="onSearch(searchInput.value, $event)">

    <div class="input-group">
      <input #searchInput class="form-control " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary px-4" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>


<span class="spacer"></span>
  <!-- Botones de usuario (Login, Registro, Perfil, etc.) -->
  <div class="user-buttons m-3" *ngIf="!isSmallScreen">
    <button *ngIf="!isAuthenticated" mat-stroked-button  routerLink="login">LogIn</button>
    <button *ngIf="!isAuthenticated" mat-flat-button  routerLink="register">Registrar</button>
    <button *ngIf="isAuthenticated && userRole === 'BLOCKED'" mat-flat-button color="primary" routerLink="login">LogIn</button>

    <!-- Botón Mi Perfil con foto de perfil pequeña -->
    <button *ngIf="isAuthenticated && userRole === 'USER'" mat-stroked-button color="" routerLink="profile">
      <img *ngIf="photoPreview" [src]="photoPreview" alt="Foto de perfil" class="profile-photo-small" />
      {{ username || 'Mi Perfil' }}
    </button>

    <button *ngIf="isAuthenticated && userRole === 'MANAGER'" mat-flat-button color="primary" routerLink="admin">Administrador</button>
    <button *ngIf="isAuthenticated" mat-flat-button color="primary" (click)="logout()">LogOut</button>
  </div>


  <!-- Botón menú hamburguesa para pantallas pequeñas -->
  <button mat-icon-button *ngIf="isSmallScreen" [matMenuTriggerFor]="mobileMenu" class="hamburger-menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menú en pantallas pequeñas -->
  <mat-menu #mobileMenu="matMenu">
    <div style="display: flex; flex-direction: column; width: 100%;">
    <button mat-button *ngIf="!isAuthenticated" mat-button  routerLink="login">LogIn</button>
    <button mat-button *ngIf="!isAuthenticated" mat-button  routerLink="register">Registrar</button>

    <!-- Botón Mi Perfil solo si está autenticado y no está bloqueado -->
    <button mat-button  *ngIf="isAuthenticated && userRole === 'USER'" routerLink="profile">{{ username || 'Mi Perfil' }}</button>
    <button mat-button *ngIf="isAuthenticated && userRole === 'MANAGER'"  routerLink="admin">Administrador</button>
    <button mat-button *ngIf="isAuthenticated"  (click)="logout()">LogOut</button>

    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'PRODUCT' }">Productos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'SERVICE' }">Servicios</button>
    <button mat-button routerLink="/about">Acerca de nosotros</button>
    <button mat-button routerLink="/contacto">Contáctanos</button>

     <!-- Submenú desplegable para categorías -->
     <button mat-menu-item [matMenuTriggerFor]="categoriesMenu">Categorías</button>
     <mat-menu #categoriesMenu="matMenu">
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Perros' }">Perros</button>
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Gatos' }">Gatos</button>
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Aves' }">Aves</button>
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Reptiles' }">Reptiles</button>
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Animales Exoticos' }">Animales Exoticos</button>
       <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Otros' }">Otros Animales</button>
     </mat-menu>
  </div>
  </mat-menu>
</mat-toolbar>

<!-- Barra de navegación completa para pantallas grandes -->
<mat-toolbar color="primary" class="nav-bar" *ngIf="!isSmallScreen">
  <button mat-button [matMenuTriggerFor]="servicesMenu"><mat-icon>menu</mat-icon>Categorias</button>

  <mat-menu #servicesMenu="matMenu">
    <div style="display: flex; flex-direction: column; width: 100%;">
    <!-- Botones para categorías de animales -->
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Perros' }">Perros</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Gatos' }">Gatos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Aves' }">Aves</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Reptiles' }">Reptiles</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Animales Exoticos' }">Animales Exoticos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Otros' }">Otros Animales</button>
  </div>
  </mat-menu>

  <!-- Botones para tipos de anuncios -->
  <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'PRODUCT' }">Productos</button>
  <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'SERVICE' }">Servicios</button>
  <button mat-button routerLink="/about">Acerca de nosotros</button>
  <button mat-button routerLink="/contacto">Contáctanos</button>
  <button mat-button routerLink="/adoption">Adopciones</button>

</mat-toolbar>
