<mat-toolbar color="primary" class="top-bar">
  <img src="chango2.webp" alt="logo" class="logo" routerLink="/" />

  <span class="spacer"></span>

  <!-- Botones de usuario (Login, Registro, Perfil, etc.) -->
  <div class="user-buttons m-3" *ngIf="!isSmallScreen">
    <button *ngIf="!isAuthenticated" mat-stroked-button color="primary" routerLink="login">LogIn</button>
    <button *ngIf="!isAuthenticated" mat-stroked-button color="primary" routerLink="register">Registrar</button>
    <button *ngIf="isAuthenticated && userRole === 'BLOCKED'" mat-stroked-button color="primary" routerLink="login">LogIn</button>
    <button *ngIf="isAuthenticated && userRole === 'USER'" mat-stroked-button color="primary" routerLink="profile">Mi Perfil</button>
    <button *ngIf="isAuthenticated && userRole === 'MANAGER'" mat-stroked-button color="primary" routerLink="admin">Administrador</button>
    <button *ngIf="isAuthenticated" mat-stroked-button color="primary" (click)="logout()">LogOut</button>
  </div>

  <!-- Botón menú hamburguesa para pantallas pequeñas -->
  <button mat-icon-button *ngIf="isSmallScreen" [matMenuTriggerFor]="mobileMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menú en pantallas pequeñas -->
  <mat-menu #mobileMenu="matMenu">
    <button *ngIf="!isAuthenticated" mat-stroked-button color="primary" routerLink="login">LogIn</button>
    <button *ngIf="!isAuthenticated" mat-stroked-button color="primary" routerLink="register">Registrar</button>

    <!-- Botón Mi Perfil solo si está autenticado y no está bloqueado -->
    <button *ngIf="isAuthenticated && userRole === 'USER'" mat-stroked-button color="primary" routerLink="profile">Mi Perfil</button>
    <button *ngIf="isAuthenticated && userRole === 'MANAGER'" mmat-stroked-button color="primary" routerLink="admin">Administrador</button>
    <button *ngIf="isAuthenticated" mat-stroked-button color="primary" (click)="logout()">LogOut</button>

    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'PRODUCT' }">Productos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'SERVICE' }">Servicios</button>

    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Perros' }">Perros</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Gatos' }">Gatos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Aves' }">Aves</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Reptiles' }">Reptiles</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Otros' }">Otros</button>
  </mat-menu>
</mat-toolbar>

<!-- Barra de navegación completa para pantallas grandes -->
<mat-toolbar color="primary" class="nav-bar" *ngIf="!isSmallScreen">
  <button mat-button [matMenuTriggerFor]="servicesMenu"><mat-icon>menu</mat-icon>Categorias</button>

  <mat-menu #servicesMenu="matMenu">
    <!-- Botones para categorías de animales -->
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Perros' }">Perros</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Gatos' }">Gatos</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Aves' }">Aves</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Reptiles' }">Reptiles</button>
    <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ categoria: 'Otros' }">Otros</button>
  </mat-menu>

  <!-- Botones para tipos de anuncios -->
  <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'PRODUCT' }">Productos</button>
  <button mat-button [routerLink]="'/adfilter'" [queryParams]="{ tipo: 'SERVICE' }">Servicios</button>
  <button mat-button routerLink="/about">Acerca de nosotros</button>
  <button mat-button routerLink="/contacto">Contáctanos</button>
</mat-toolbar>
