.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  height: 130px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 20px

}

.spacer {
  flex-grow: 1;
}

.user-buttons {
  display: flex;
  gap: 10px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 15px;

}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-bar {
    display: none; /* Ocultar barra de navegación en pantallas pequeñas */
  }

  .top-bar .user-buttons {
    display: none; /* Ocultar botones de usuario en pantallas pequeñas */
  }
}
