<div class="container">
  <div class="user-info">
    <h4 class="text-center">Datos del Usuario</h4>
    <p><strong>Nombre:</strong> {{ usuario?.name }}</p>
    <p><strong>Apellido:</strong> {{ usuario?.last_name1 }}</p>
    <p><strong>Email:</strong> {{ usuario?.email }}</p>
    <p><strong>Ciudad:</strong> {{ usuario?.city }}</p>
    <p><strong>Calle:</strong> {{ usuario?.street }}</p>


    <div class="buttons">
      <button mat-raised-button color="accent" (click)="modificarDatos()">
        Modificar Datos
      </button>
      <button mat-raised-button color="warn" (click)="deleteUser()">
        Baja cuenta
      </button>
    </div>
  </div>


  <div class="photo-upload">
    <h4 class="text-center">Foto de Perfil</h4>
    <div class="photo-card">
      <img *ngIf="photoPreview" [src]="photoPreview" alt="Foto de perfil" class="profile-photo" src="" />
      <div class="upload-controls">
        <input type="file" (change)="onFileSelected($event)" />
        <button mat-raised-button color="primary" class="buttons" (click)="uploadPhoto()" [disabled]="!selectedFile">
          Subir Foto
        </button>
      </div>
    </div>
  </div>
</div>


<div class="ads-section m-3 ">
  <div>
  <h4 class="text-center">Mis Pedidos</h4>
  </div>
  <div class=" nav-bar button mb-3">
    <button mat-button color="primary" class="buttons">Agregar Anuncio</button>
    <button mat-button color="primary" class="buttons">compra</button>
    <button mat-button color="primary" class="buttons">Venta</button>
  </div>

  <mat-card *ngFor="let anuncio of anuncios" class="ad-card mt-2 ">
    <mat-card-title>{{ anuncio.titulo }}</mat-card-title>
    <mat-card-content>{{ anuncio.descripcion }}</mat-card-content>

    <div class="buttons">
      <button mat-stroked-button color="primary" (click)="modificarAnuncio(anuncio.id)">
        Modificar
      </button>
      <button mat-fab color="warn" (click)="eliminarAnuncio(anuncio.id)"><mat-icon>delete</mat-icon>

      </button>
    </div>
  </mat-card>


</div>
