.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(195, 253, 188);
  height: 80px; /* Altura del header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 75px; /* Ajusta la altura del logo */
}
  /* Contenedor principal */
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; /* Espacio entre columnas */
    padding: 20px;
  }

  /* Estilos de cada sección */
  .user-info, .ads-section, .photo-upload {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Títulos */
  h3 {
    margin-top: 0;
  }



/* Ajustes a los botones */
.buttons {
  display: flex;
  gap: 50px; /* Espacio entre los botones */
  justify-content: right; /* Centramos los botones horizontalmente */
  align-items: center; /* Centramos los botones verticalmente */
  margin: 10px; /* Separar los botones del resto del contenido */
}
.nav-bar {
  display: flex;

  align-items: center;
  flex-wrap: wrap; /* Permite que los botones se envuelvan cuando hay poco espacio */
  gap: 20px; /* Espacio entre las dos barras de herramientas */
  /* background-color:rgb(195, 253, 188); */
}
