/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-paginator {
  --mat-paginator-container-background-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

