.user-ad-card {
  width: 100%;
  height: 450px; /* Mantén la altura de la tarjeta */
  align-items: center;
  overflow: hidden;
  display: flex; /* Asegurarte de que los elementos dentro de la tarjeta se comporten correctamente */
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;

}
.buttons button {
  margin-right: 8px; /* Ajusta este valor según la separación deseada */
}

.info{
 margin: 10px auto;
}


.title {
  text-align: center;
  margin-top: 10px;
}

.header-image {
  background-image: url('../../../assets/logo.jpg');
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 200px; /* Controla la altura de la imagen */
  overflow: hidden; /* Para evitar que la imagen sobresalga */
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

img.ad-photo {
  width: 100%; /* La imagen tomará todo el ancho disponible del contenedor */
  height: 100%; /* La imagen tomará toda la altura disponible del contenedor */
  object-fit: contain; /* Ajusta la imagen manteniendo la proporción sin distorsionarla */
  display: block; /* Asegúrate de que la imagen no tenga márgenes */
  margin: 0 auto; /* Centrar la imagen si es más pequeña que el contenedor */
}

/* Asegúrate de que las imágenes dentro de mat-card también se ajusten correctamente */
img[mat-card-image] {
  max-width: 100%; /* La imagen no excederá el ancho de la tarjeta */
  max-height: 100%; /* La imagen no excederá la altura de la tarjeta */
  height: auto; /* Mantener la proporción */
  display: block; /* Asegúrate de que la imagen no tenga márgenes */
  margin: 0 auto; /* Centrar la imagen si es más pequeña que la tarjeta */
}

@media (max-width: 576px) {
  .card {
    height: auto; /* Para pantallas pequeñas, la tarjeta puede ajustar su altura según el contenido */
  }

  .image-container {
    height: 150px; /* Reducir la altura de la imagen en pantallas pequeñas */
  }
}





