<div class="container">
  <h3>Protectoras de animales en España:</h3>

  <ul>
    <li><b>Asociación Nacional Amigos de los Animales (ANAA):</b> <br>
        Página web: <a href="https://anaaweb.org/">https://anaaweb.org/</a><br>
        Teléfono: Debido a la saturación habitual del teléfono, se recomienda contactar vía correo electrónico.</li>
    <br>
    <li><b>Huellas Callejeras:</b><br>
        Página web: <a href="https://www.huellascallejeras.com/">https://www.huellascallejeras.com/</a></li>
    <br>
    <li><b>SOS PPP España:</b><br>
        Página web: <a href="https://sospppespanya.org/">https://sospppespanya.org/</a></li>
    <br>
    <li><b>Sociedad Protectora de Animales y Plantas de Alcoy:</b><br>
        Página web: <a href="http://www.protectoradealcoy.com/">http://www.protectoradealcoy.com/</a><br>
        Teléfono: 650 579 108 (contestador)<br>
        Correo electrónico: <a href="mailto:info&#64;protectoradealcoy.com">info&#64;protectoradealcoy.com</a></li>
    <br>
    <li><b>Asociación Protectora de Animales de San Antonio (APASA):</b><br>
        Página web: <a href="http://www.apasa.eu/">http://www.apasa.eu/</a><br>
        Teléfono: 966 463 976 / 807 429 454<br>
        Correo electrónico: <a href="mailto:apasa.javea&#64;gmail.com">apasa.javea&#64;gmail.com</a></li>
    <br>
    <li><b>Asociación de Defensa de Derechos del Animal (ADDA):</b><br>
        Página web: <a href="http://www.addaong.org/">http://www.addaong.org/</a></li>
    <br>
    <li><b>Asociación Protectora de Animales Domésticos Abandonados (APADAN):</b><br>
        Página web: <a href="http://www.apadan.org/">http://www.apadan.org/</a></li>
    <br>
    <li><b>Sociedad Protectora de Animales de Granada:</b><br>
        Página web: <a href="https://sites.google.com/site/protectoradeanimalesdegranada/">https://sites.google.com/site/protectoradeanimalesdegranada/</a><br>
        Teléfono: 605 267 837<br>
        Correo electrónico: <a href="mailto:graspap&#64;gmail.com">graspap&#64;gmail.com</a></li>
    <br>
    <li><b>Federación para la Protección y Defensa del Animal en la Comunidad Valenciana (FEDENVA):</b><br>
        Teléfono: 645 794 138 (lunes a viernes de 16:00 hrs en adelante)</li>
    <br>
    <li><b>Protectora de Animales y Plantas de Málaga:</b><br>
        Página web: <a href="https://www.protectoramalaga.com/">https://www.protectoramalaga.com/</a><br>
        Teléfono: 952 257 193<br>
        Correo electrónico: <a href="mailto:info&#64;protectoramalaga.com">info&#64;protectoramalaga.com</a></li>
  </ul>
</div>
