/* Contenedor principal */
.container {
  max-width: 60%; /* El contenedor no se expandirá más allá de 1100px */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Añade espacio a los lados para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */
}

/* Estilos para el encabezado */
h3, h4,h6{
  margin-bottom: 20px;
  text-align: center;
}

h6 {
  text-align: left;
}

h4{
  margin-top: 30px;
}

p {
  margin-top: 10px;
}

/* Estilos para los párrafos */
div p {
  font-size: 1rem;
  line-height: 1.6; /* Mejora la legibilidad aumentando el espacio entre líneas */
  color: #555; /* Un color gris suave para el texto */
  margin-bottom: 15px;
}

/* División de MatDivider */
mat-divider {
  margin: 20px 0;
  border-top: 1px solid #ccc; /* Color de la línea de la división */
}
.grid{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.equipo{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.modelos img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  }

.icono{
  width: 34px;
  height: 34px;
}




