<div class=" container ">
  <h3>Acerca de Nosotros</h3>
  <mat-divider></mat-divider>
  <div>
    <h4>Creacion de GuaGuapop</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae ea aperiam maxime recusandae, consequuntur
      pariatur praesentium! Esse repellendus, hic eos eius laudantium incidunt voluptate! Aspernatur dolore hic quis
      voluptatem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab molestiae quis natus deserunt dolorum
      doloremque magni, unde saepe quo facere accusamus pariatur ut corrupti! Impedit sapiente aspernatur in est.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab molestiae quis natus deserunt dolorum
      doloremque magni, unde saepe quo facere accusamus pariatur ut corrupti! Impedit sapiente aspernatur in est.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab molestiae quis natus deserunt dolorum
      doloremque magni, unde saepe quo facere accusamus pariatur ut corrupti! Impedit sapiente aspernatur in est.</p>

  </div>
</div>
