<div class=" container ">
  <div>
    <h4>Creacion de GuaGuapop</h4>
    <p>Somos dos estudiantes apasionados, embarcados en un emocionante proyecto que nació durante nuestras prácticas pero que rápidamente se convirtió en algo mucho más grande. Este espacio representa nuestra curiosidad, creatividad y ambición de dejar una huella positiva en el mundo</p>

    <p>Lo que nos une, además de nuestra formación, es el amor por los animales. Creemos firmemente que nuestras mascotas son mucho más que compañeros: son familia, inspiración y la prueba viviente de que el amor incondicional existe. Ambos tenemos perros que, con su energía y ternura, han sido parte esencial de este viaje. Si miras de cerca, verás que hasta se colaron en nuestras imágenes; ellos son nuestros primeros fans y los modelos más leales.</p>

    <p> Nuestra misión es compartir, aprender y crecer, mientras aportamos algo significativo a la comunidad. Este proyecto no es solo una práctica, es un sueño que construimos ladrillo a ladrillo, con pasión, compromiso y mucha dedicación.</p>

      <p> Gracias por acompañarnos en este camino. 🐾✨</p>

  </div>
</div>
