.form-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FAFAFA

}
.full-width {
  width: 80%;
}
.form-actions button {
  margin-right: 50px; /* Espacio de 10px entre los botones */
}

.form-actions button:last-child {
  margin-right: 0; /* El último botón no necesita margen */
}
