<div class="container">
<h3 >Funcionamiento de compra-venta</h3>

<mat-divider></mat-divider>

<h4>Hola, a continuación te vamos a explicar cómo puedes comprar y vender en GuaGuaPop!!!</h4>

<p>1- Debes crearte una cuenta <a href="/register">Crear cuenta</a></p>

<p>Completa tus datos personales.</p>

<p>3- Subir los anuncios a tu perfil, debes completar ciertos campos obligatorios como nombre del producto, ciudad, descripción, etc...</p>

<p>4- Cuando un usuario este interesado en tu anuncio y decida comprarlo te llegara un mensaje en tu correo para confirmar la venta.</p>

<p>5- Una vez confirmado, GuaGuapop hará de intermediario asegurando la transparencia, políticas de seguridad y medios de pago.</p>

<p>Asi de sencillo, anímate y vende en GuaGuaPop<p>

</div>
