.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.form-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  width: 100%;
}

.container {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
