<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #errorTemplate>
  <div class="error-container">
    <mat-card class="color-card">
      <mat-card-title>Error</mat-card-title>
      <mat-card-content>
        <p>{{ errorMessage }}</p>
        <button mat-flat-button color="warn" (click)="retryLoad()">Reintentar</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<div *ngIf="isLoading; else content">
  <ng-container *ngTemplateOutlet="divLoading"></ng-container>
</div>

<ng-template #content>
  <div *ngIf="anun; else errorTemplate" class="form-prod grid p-2">
    <mat-card class="container col-12 sm:col-6 mt-3">

      <mat-card-content>

        <mat-card-title>
          <span>Titulo: </span>{{ anun.title }}
        </mat-card-title>
        <mat-card-title>
          <span>Tipo:</span> {{ anun.type }}
        </mat-card-title>
        <br>
        <mat-list>
          <mat-card-title>Información</mat-card-title>

          <mat-list-item><span>Tipo: </span>{{ anun.type }}</mat-list-item>
          <mat-list-item><span>Descripción: </span>{{ anun.description }}</mat-list-item>
          <mat-list-item><span>Precio: </span>{{ anun.price | currency:'EUR':'symbol' }}</mat-list-item>
        </mat-list>

        <div class="button-container">
          <button mat-stroked-button color="warn" (click)="regresar()">Regresar</button>
          <button mat-flat-button color="primary" (click)="comprar()">Comprar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

