.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.forgot-password-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}
.forgot-password-link:hover {
  text-decoration: none;
}
