<div class="anuncios-container text-center row g-4 pt-2 mt-2">
  <h2 >Anuncios de {{ categoria }}</h2>

  <div *ngIf="anuncios.length === 0">No hay anuncios disponibles para esta categoría.</div>
  <mat-divider></mat-divider>

  <div *ngFor="let anuncio of paginaAnuncios" class="col-12 col-sm-6 col-md-4 col-lg-custom">
    <productos-prod-card [prod]="anuncio"></productos-prod-card>
  </div>
</div>


<mat-paginator [length]="totalLength"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)"
               aria-label="Seleccionar página">
</mat-paginator>
