<div class="anuncios-container text-center row g-4 pt-2 mt-2">
  <h2>Anuncios de {{ categoria }} {{ tipoAd ? (tipoAd === 'PRODUCT' ? 'Productos' : 'Servicios') : '' }}</h2>


  <div *ngIf="ads.length === 0">No hay anuncios disponibles para esta categoría.</div>
  <mat-divider></mat-divider>

  <div class="selector m-3">
    <mat-menu #ordenMenu="matMenu" class="custom-menu ">
      <div style="display: flex; flex-direction: column; width: 100%;">
        <button mat-button (click)="ordenarAnuncios('fecha')">Fecha</button>
        <button mat-button (click)="ordenarAnuncios('precio')">Precio</button>
        <button mat-button (click)="ordenarAnuncios('nombre')">A-Z</button>
      </div>
    </mat-menu>

    <div style="text-align: right;">
      <button mat-raised-button [matMenuTriggerFor]="ordenMenu" class="ordenar-boton">
        Ordenar por <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    </div>

  <div class="flex-container">
    <div *ngFor="let ad of paginaAds" class="producto-card">
      <app-card [ad]="ad"></app-card>
    </div>
  </div>

  <mat-paginator
    [length]="totalLength"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>



<!--
 //Mostrar anuncio completo
html
Copiar código
<div *ngIf="AdPorId">
  <h2>{{ AdPorId.title }}</h2>
  <p>{{ AdPorId.description }}</p>
  <img *ngFor="let photo of AdPorId.photos" [src]="photo.photos" alt="Photo">
</div>
 -->
