<div class="container text-center row g-4 pt-2 mt-2">
  <h4>{{ categoria }} {{ tipoAd ? (tipoAd === 'PRODUCT' ? 'Productos' : 'Servicios') : '' }}</h4>

  <div *ngIf="ads.length === 0">No hay anuncios disponibles para esta categoría.</div>

  <div class="container m-3">
    <mat-menu #ordenMenu="matMenu" class="custom-menu">
      <div style="display: flex; flex-direction: column; width: 100%;">
        <button mat-button (click)="ordenarAnuncios('fecha')">Más reciente primero</button>
        <button mat-button (click)="ordenarAnuncios('precio')">Precio: De menor a mayor</button>
        <button mat-button (click)="ordenarAnuncios('nombre')">A-Z</button>
      </div>
    </mat-menu>

    <div style="text-align: right;">
      <button mat-raised-button [matMenuTriggerFor]="ordenMenu" class="ordenar-boton">
        Ordenar por <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex-container">
    <div *ngFor="let ad of paginaAds" class="producto-card">
      <app-card [ad]="ad"></app-card>
    </div>
  </div>

  <mat-paginator
    [length]="totalLength"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
