<div class="contact-form text-center container">
  <mat-card class="form-card">
    <h3>Recuperar Contraseña</h3>
    <form id="LoginForm" (ngSubmit)="resetPass()">

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" id="newPass" name="newPass" [(ngModel)]="newPass" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Repetir Contraseña</mat-label>
          <input matInput type="password" id="newPass2" name="newPass2" [(ngModel)]="newPass2" required>
        </mat-form-field>
      </div>


      <div class="form-actions mt-3">
        <button mat-raised-button color="primary" type="submit">Entrar</button>
        <button mat-raised-button color="warn" type="button" >Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>
