<div class="contact-form text-center container">
  <mat-card class="form-card">
    <h2>{{ editMode ? 'Modificar Anuncio' : 'Crear Anuncio' }}</h2>

    <form [formGroup]="adForm" (ngSubmit)="onAdSubmit()">
      <!-- Tipo de Anuncio -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de Anuncio</mat-label>
        <mat-select formControlName="adType">
          <mat-option value="PRODUCT">Productos</mat-option>
          <mat-option value="SERVICE">Servicios</mat-option>
        </mat-select>
        <mat-error *ngIf="f['adType']?.hasError('required')">Tipo de Anuncio requerido</mat-error>
      </mat-form-field>

      <!-- Condicion -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Condición</mat-label>
        <mat-select formControlName="condition">
          <mat-option value="Nuevo">Nuevo</mat-option>
          <mat-option value="Usado">Usado</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Categoría -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="category" required>
          <mat-option value="Perros">Perros</mat-option>
          <mat-option value="Gatos">Gatos</mat-option>
          <mat-option value="Avess">Aves</mat-option>
          <mat-option value="Animales_exoticos">Animales Exóticos</mat-option>
          <mat-option value="Otros_animales">Otros Animales</mat-option>
        </mat-select>
        <mat-error *ngIf="f['category']?.hasError('required')">Categoría es requerida</mat-error>
      </mat-form-field>

      <!-- Título -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="f['title']?.hasError('required')">Título es requerido</mat-error>
      </mat-form-field>

      <!-- Descripción -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="f['description']?.hasError('required')">Descripción es requerida</mat-error>
      </mat-form-field>

      <!-- Ciudad -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="city" required>
        <mat-error *ngIf="f['city']?.hasError('required')">Ciudad es requerida</mat-error>
      </mat-form-field>

      <!-- Precio -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="price" required>
        <mat-error *ngIf="f['price']?.hasError('required')">Precio es requerido</mat-error>
        <mat-error *ngIf="f['price']?.hasError('min')">El precio debe ser mayor a 0</mat-error>
      </mat-form-field>

      <!-- Duración -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Duración</mat-label>
        <input matInput formControlName="duration">
      </mat-form-field>




      <!-- Selección de archivos -->
      <div class="full-width">
        <label for="file-input">Fotos </label>
        <input id="file-input" type="file" (change)="onFileSelect($event)" multiple>
      </div>


      <!-- Acciones del formulario -->
      <div class="form-actions mt-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="adForm.invalid">
          {{ editMode ? 'Actualizar' : 'Crear' }}
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>
