.footer-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: #FAFAFA; /* Franja gris claro */
  font-size: 12px; /* Letra más pequeña y uniforme */
  color: #333; /* Texto oscuro */
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 70%; /* Ocupa el 70% del ancho total */
  text-align: center;
}

.info div ul {
  list-style: none; /* Quita los puntos del ul */
  padding: 0;
}

.info a {
  text-decoration: none; /* Quita la línea de los enlaces */
  color: inherit; /* Mantiene el color del texto del párrafo */
  cursor: pointer;
}

.info a:hover {
  color: #007bff; /* Cambia a un azul para indicar que es un enlace */
  text-decoration: underline; /* Agrega subrayado al pasar el ratón */
}

.redes a {
  margin: 0 10px;
}

.footer-toolbar span {
  margin-top: 20px;
  font-size: 20px; /* Tamaño uniforme y pequeño */

}

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
  .info {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    text-align: center;
  }
}

