<div  class="footer-toolbar">
  <div class="info">
    <div>
      <p><b>GuaGuaPop</b></p>
      <ul>
        <li><a (click)="about()">Quienes somos</a></li>
        <li><a (click)="contacto()">Contáctanos</a></li>
      </ul>
    </div>

    <div>
      <p><b>Descubre</b></p>
      <ul>
        <li><a (click)="infoventa()">Como funciona</a></li>
        <li><a  (click)="vender()">Vende</a></li>
      </ul>
    </div>

    <div class="redes">
      <p><b>Redes</b></p>
      <a href="https://facebook.com" target="_blank" mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://twitter.com" target="_blank" mat-icon-button>
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" mat-icon-button>
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
  <span>&copy; 2024 GuaGuaPop - Todos los derechos reservados.</span>
</div>
