<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <span>&copy; 2024 GuaGuaPop - Todos los derechos reservados.</span>

    <span class="spacer"></span>

    <a href="https://facebook.com" target="_blank" mat-icon-button>
      <mat-icon>facebook</mat-icon>
    </a>
    <a href="https://twitter.com" target="_blank" mat-icon-button>
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://instagram.com" target="_blank" mat-icon-button>
      <i class="fa-brands fa-instagram"></i>
    </a>
  </mat-toolbar>
</footer>
